 <a id="home-header" class="in-page-link"></a>
  <section class="cover cover-features imagebg space--lg parallax" data-overlay="2">
    <div class="background-image-holder"><%= image_tag("home-header.jpg", alt: "DAUX Home Header Background")%></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
          <div class="typed-headline">
            <span class="h1 inline-block davetext">Welcome, I'm Dave and I'm a </span>
            <span class="h1 inline-block typed-text typed-text--cursor color--primary davetext" data-typed-strings="UX manager,email geek,UI designer,creative thinker,coder,brand designer,typographer,husband,father"></span>
          </div>
          <p class="lead">Business goals should motivate design. The product must constantly evolve based on analytics, user feedback, and shifting short-term objectives.</p>
          <a class="btn btn--primary type--uppercase inner-link" href="#awards" data-scroll-class="100vh:active"> <span class="btn__text">
						View Awards
					</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature feature-2 boxed boxed--border bg--white"> <i class="icon icon-Clock-Back color--primary"></i>
            <div class="feature__body">
              <p>I help clients to set a strong brand and design framework early on</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature feature-2 boxed boxed--border bg--white"> <i class="icon icon-Duplicate-Window color--primary"></i>
            <div class="feature__body">
              <p>My clients current team can continue designing a consistent product</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature feature-2 boxed boxed--border bg--white"> <i class="icon icon-Life-Jacket color--primary"></i>
            <div class="feature__body">
              <p>This avoiding expensive design pivots and fundamental changes later on</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a id="update" class="in-page-link"></a>
  <section class="text-center cta cta-4 space--xxs border--bottom imagebg" data-gradient-bg="#431f39,#6f203d,#af0c44,#bb1561">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"> <span class="label label--inline">UPDATE</span> <span>I'm currently in the process of my first E-Book 'State of Email 2017 and beyond'. <a href="#purchase-ebook">Check it out</a> for a few free chapters.</span> </div>
      </div>
    </div>
  </section>
  <a id="my-strategy" class="in-page-link"></a>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2 class="space--xs unpad--top">Strategy in action</h2>
          <!-- My process tabs -->

          <div class="tabs-container" data-content-align="left">

          </div>

          <!-- My Process tabs -->
        </div>
      </div>
    </div>
  </section>
  <a id="bio" class="in-page-link"></a>
  <section class="cover unpad--top unpad--bottom switchable text-center-xs">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 mt--3">
          <h1>I'm passionate about crafting memorable, emotive and engaging experiences through user research, testing and data science.</h1>
          <p class="lead">Helping my clients stay relevant and create meaningful impact through design.</p>
          <!--<a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
Sign me up
</span> </a>
<span class="block type--fine-print">Find me on <a href="index.html">Linkedin</a></span>--> </div>
        <div class="col-sm-6"><%= image_tag("dave_armstrong_ux.png", alt: "Dave Armstrong Creative Proffesional")%></div>
      </div>
    </div>
  </section>
  <a id="blog-posts" class="in-page-link"></a>
  <section class="bg--secondary">
    <div class="container">
      <div class="row text-block">
        <div class="col-sm-12">
          <h3>Most recent articles</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <article class="feature feature-1">
            <a href="#awards" class="block"><%= image_tag("blog-home.jpg", alt: "Image to be replaced")%></a>
            <div class="feature__body boxed boxed--border"> <span>May 25th 2017</span>
              <h5>A day in the life of a creative professional</h5> <a href="#awards">
              Read More
            </a> </div>
          </article>
        </div>
        <div class="col-sm-4">
          <article class="feature feature-1">
            <a href="#awards" class="block"><%= image_tag("blog-home.jpg", alt: "Image to be replaced")%></a>
            <div class="feature__body boxed boxed--border"> <span>May 25th 2017</span>
              <h5>How to get over imposter syndrone</h5> <a href="#awards">
              Read More
            </a> </div>
          </article>
        </div>
        <div class="col-sm-4">
          <article class="feature feature-1">
            <a href="#awards" class="block"><%= image_tag("blog-home.jpg", alt: "Image to be replaced")%></a>
            <div class="feature__body boxed boxed--border"> <span>May 25th 2017</span>
              <h5>Q&A May 2017 - Top 3 and a half questions answered</h5> <a href="#awards">
              Read More
            </a> </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <a id="subscribe" class="in-page-link"></a>

  <section class="subscribe-form-2 space--xs imagebg" data-gradient-bg="#341a3f,#8d3857,#ad2857,#de295c"><canvas id="granim-3" width="1269" height="143"></canvas>
    <!--<section class="subscribe-form-2 space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1"><canvas id="granim-3" width="1269" height="143"></canvas> -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="lead">Subscribe for my monthly newsletter</p>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <form action="http://mrare.us8.list-manage.com/subscribe/post-json?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8&amp;c=?" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your email address." novalidate="novalidate" class="form--active">
            <div class="row">
              <div class="col-sm-6">
                <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address">
              </div>
              <div class="col-md-4 col-sm-6">
                <button class="btn btn--primary type--uppercase" type="submit">Subscribe</button>
              </div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value="">
            </div>
          </form>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <a id="title" class="in-page-link"></a>
  <section class="text-center unpad--bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8">
          <h2>A selection of work in progress</h2>
          <p class="lead">As a professional creative I work on many different projects using a number of skill sets, <a href="#purchase-ebook">Check out all</a> of my working snap-shots to get an idea of what i'm working on.</p>
        </div>
      </div>
    </div>
  </section>
  <a id="wip" class="in-page-link"></a>
  <section class="space--xs unpad--bottom">
    <div class="masonry masonry--gapless">
      <div class="masonry-filter-container text-center"> <span>Category:</span>
        <div class="masonry-filter-holder">
          <div class="masonry__filters" data-filter-all-text="All Categories"></div>
        </div>
      </div>
      <div class="masonry__container bg--secondary masonry--active">
        <div class="col-sm-3 col-xs-12 masonry__item" data-masonry-filter="Marketing">
          <div class="project-thumb hover-element height-30">
            <a href="#awards">
              <div class="hover-element__initial">
                <div class="background-image-holder"><%= image_tag("3d-pen.jpg", alt: "3d-pen")%></div>
              </div>
              <div class="hover-element__reveal" data-overlay="9">
                <div class="project-thumb__title">
                  <h5>Name of Project</h5> <span>Brand Collateral</span> </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 masonry__item" data-masonry-filter="Brand">
          <div class="project-thumb hover-element height-30">
            <a href="#awards">
              <div class="hover-element__initial">
                <div class="background-image-holder"><%= image_tag("user_flow.jpg", alt: "user flow")%></div>
              </div>
              <div class="hover-element__reveal" data-overlay="9">
                <div class="project-thumb__title">
                  <h5>Name of Project</h5> <span>Brand Collateral</span> </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 masonry__item" data-masonry-filter="UI">
          <div class="project-thumb hover-element height-30">
            <a href="#awards">
              <div class="hover-element__initial">
                <div class="background-image-holder"><%= image_tag("nav-transition.gif", alt: "navigation transition")%></div>
              </div>
              <div class="hover-element__reveal" data-overlay="9">
                <div class="project-thumb__title">
                  <h5>Name of Project</h5> <span>Brand Collateral</span> </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 masonry__item" data-masonry-filter="Code">
          <div class="project-thumb hover-element height-30">
            <a href="#awards">
              <div class="hover-element__initial">
                <div class="background-image-holder"><%= image_tag("2017_typo_800x600.jpg", alt: "2017 Typo")%></div>
              </div>
              <div class="hover-element__reveal" data-overlay="9">
                <div class="project-thumb__title">
                  <h5>Name of Project</h5> <span>Brand Collateral</span> </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a id="faqs" class="in-page-link"></a>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="text-block">
            <h4>Frequently Asked Questions</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-block">
            <h5>How do refunds work?</h5>
            <p> Open a <a href="#awards">refund request</a> with us and we can work with you to resolve it ASAP. </p>
          </div>
          <div class="text-block">
            <h5>Can I pay using AMEX?</h5>
            <p> Yes, we accept all major credit cards, including AMEX, so rack up those points! </p>
          </div>
          <div class="text-block">
            <h5>Is there a bulk-buy discount?</h5>
            <p> We have corporate and enterprise arrangements that our pricing team can assist with on a case-by-case basis. <a href="#awards">Contact Us</a> for info. </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-block">
            <h5>Is there a minimum contract term?</h5>
            <p> No! The beauty of our service is that you can cancel anytime you need to — no questions asked. </p>
          </div>
          <div class="text-block">
            <h5>What tech stack should I learn?</h5>
            <p> You won't beleive this but it does not matter (really). What matters is that you can build what you need to and enjoy doing it. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a id="downloads-coming-soon" class="in-page-link"></a>
  <section class="switchable switchable--switch imagebg height-50" data-overlay="2">
    <div class="background-image-holder"><%= image_tag("assetsBackground.jpg", alt: "Aseets Background")%></div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-6">
          <h2>Free assets, tutorials and white papers sent out monthly.</h2>
          <p class="lead"> From time to time I will send out free creative sets such as UI elements, wireframe tool kits, iconography  <!--<br class="hidden-xs hidden-sm">-->through to white papers, code hacks and everything in-between.</p>
        </div>
      </div>
    </div>
  </section>
  <a id="awards" class="in-page-link"></a>
  <section class="testimonials-1 space--xs bg--secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p class="lead"> Proud to be a part of a multi award  <br class="hidden-xs hidden-sm"> winning team. </p>
        </div>
        <div class="col-sm-8">
          <ul class="list-inline social-list">
            <li> <img alt="Image" class="image--xxs" src="img/partner-7.png"> </li>
            <li> <img alt="Image" class="image--xxs" src="img/partner-4.png"> </li>
            <li> <img alt="Image" class="image--xxs" src="img/partner-7.png"> </li>
            <li> <img alt="Image" class="image--xxs" src="img/partner-7.png"> </li>
            <li> <img alt="Image" class="image--xxs" src="img/partner-7.png"> </li>
            <li> <img alt="Image" class="image--xxs" src="img/partner-4.png"> </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

