
<!--end of notification-->
<div class="nav-container ">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <%= link_to(image_tag("logo-dark.png"), root_path, class: "logo logo-dark") %>
          <%= link_to(image_tag("logo-light.png"), root_path, class: "logo logo-light") %>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm ">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs">
          <div class="bar__module">
            <%= link_to(image_tag("logo-dark.png"), root_path, class: "logo logo-dark") %>
            <%= link_to(image_tag("logo-light.png"), root_path, class: "logo logo-light") %>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              <li><a href="#">Home</a></li>
              <li class="dropdown"> <span class="dropdown__trigger">Articles</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-md-2">
                        <h5>Most Popular</h5>
                        <ul class="menu-vertical">
                          <li> <a href="#">Post Name</a> </li>
                          <li> <a href="#">Post Name</a> </li>
                          <li> <a href="#">Post Name</a> </li>
                          <li class="separate"><a href="#"><h5>View All Posts</h5></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#">Work In Progress</a></li>
              <li class="dropdown">
                <span class="dropdown__trigger">Skills &amp Tools</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content dropdown__content--lg col-md-8">
                        <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs" data-overlay="6">
                          <div class="background-image-holder">
                            <%= image_tag("navBackground.jpg", alt: "DAUX Nav Background")%>
                          </div>
                          <div class="container pos-vertical-center">
                            <div class="row">
                              <div class="col-md-10 col-md-offset-1">
                                <%= image_tag("logo-light.png", alt: "DAUX Logo", class: "image--xxs")%>
                                <span class="h3 color--white">Monthly email full of free resources for the creative professional</span>
                                <a href="#" class="btn btn--primary type--uppercase">
                                                                            <span class="btn__text">
                                                                                Sign Up Now
                                                                            </span>
                                </a>
                              </div>
                            </div>
                            <!--end of row-->
                          </div>
                        </div>
                        <div class="col-md-6 col-md-offset-6">
                          <div class="row">
                            <div class="col-sm-6">
                              <h5>Skill sets</h5>
                              <ul class="menu-vertical">
                                <li>
                                  <a href="sections-accordions.html">
                                    UX
                                  </a>
                                </li>
                                <li>
                                  <a href="sections-cta.html">
                                    Design
                                  </a>
                                </li>
                                <li>
                                  <a href="sections-cards.html">
                                    Email Comms
                                  </a>
                                </li>
                                <li>
                                  <a href="sections-covers.html">
                                    Analytics
                                  </a>
                                </li>
                                <li>
                                  <a href="sections-features-small.html">
                                    Programming
                                  </a>
                                </li>
                                <li>
                                  <a href="sections-features-large.html">
                                    User Studies
                                  </a>
                                </li>

                              </ul>
                            </div>
                            <div class="col-sm-6">
                              <h5>Tools</h5>
                              <ul class="menu-vertical">
                                <li>
                                  <a href="#">
                                    Design Tools
                                  </a>
                                </li>
                                <li>
                                  <a href="#">
                                    Programming Setup
                                  </a>
                                </li>
                                <li class="separate"><a href="#"><h5>Apps</h5></a></li>
                                <li class="separate"><a href="#"><h5>Books</h5></a></li>


                              </ul>
                            </div>
                          </div>
                          <!--end of row-->
                        </div>
                      </div>
                      <!--end dropdown content-->
                    </div>
                    <!--end row-->
                  </div>
                  <!--end container-->
                </div>
                <!--end dropdown container-->
              </li>

            </ul>
          </div>
          <!--end module-->
          <div class="bar__module">
            <a class="btn btn--sm type--uppercase" href="#">
                                    <span class="btn__text">
                                        Sign In
                                    </span>
            </a>
            <a class="btn btn--sm btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Case Studies
                                    </span>
            </a>
          </div>
          <!--end module-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>